@model Project_2._2_MVC.Models.accounttype

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>accounttype</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descriptions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descriptions)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
