@model Project_2._2_MVC.ViewModels.TrangChuViewModel

@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string emptyAlert = "<p class='h5'>Dữ liệu đang đươc cập nhật<br/>mời bạn quay lại sau</p>";
}

<section class="content-left">
                    
				<section class="content-item-box">
					<section class="content-item-box-wrapper">
						<section class="content-item-box-title"> 
							<section class="content-item-box-title-left h2">
								 Bài hát mới
							</section>
                        @if(Model.newSongs.Count>10){
                                
							<a href="@Url.Action("Index", "TheLoaiBaiHat", new { id=-1})" >
								<section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều ca khúc khác">
									Xem thêm →
								
								</section>
							</a>
                                   
                         }
							<section class="clear-both"></section>
						</section>
                        <section class="content-item-box-content">
                            <ul class="vertical-list-container">
                                @if(Model.newSongs.Count<=0){
                                   @Html.Raw(emptyAlert)
                                }
                                
                                else{
                                    foreach (var item in Model.newSongs)
                                    {
                                    
                                        <li class="music-list-item">
                                            <section class="music-list-item-left">
                                                <a href="@Url.Action("Index", "BaiHat", new { id = item.id })" class="h8-hover music-list-item-title" title="@item.title">@item.title</a>
                                                <span class="music-list-item-left-spliter">-</span>
                                                @foreach (var singer in item.songsinger)
                                                {
                                                    var index = item.songsinger.ToList().IndexOf(singer);
                                                    string plus = ",";
                                            
                                                    <a href="@Url.Action("Index", "CaSi", new { id = singer.singer.id })" class="h10-hover music-list-item-singers" title="Ca sĩ first @singer.singer.nickname">@singer.singer.nickname</a> 
                                                    if(item.songsinger.Count-1 != index){
                                                       @Html.Raw(plus);
                                                    }
										            @*<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> @plus
										            <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>*@
                                                 }
                                            </section>
                                            <section class="music-list-item-right">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe @item.views lượt">@item.views</section>
                                                <section class="music-list-item-toolbox">
                                                    <a href="@Url.Action("addSongFavorite", "UserRepository", new { id = item.id })">
                                                        <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                                    </a>
                                                    <a href="@Project_2._2_MVC.util.getmusicRootPath(item.SongSource.FirstOrDefault().fileSrc)">
                                                        <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                                    </a>
                                                </section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </li>
                                    }
                                }
                                @*<li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="choinhac.html" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>
                                <li class="music-list-item">
                                    <section class="music-list-item-left">
                                        <a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
                                        <span class="music-list-item-left-spliter">-</span>
                                        <a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
                                    </section>
                                    <section class="music-list-item-right">
                                        <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                        <section class="music-list-item-toolbox">
                                            <a href="#">
                                                <section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section>
                                            </a>
                                            <a href="#">
                                                <section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section>
                                            </a>
                                        </section>
                                    </section>
                                    <section class="clear-both"></section>
                                </li>*@

                                <!--
									<li class="music-list-item">
										<section class="music-list-item-left">
											<section class="music-list-item-title">
												<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the titlsdddddddde of the song</a>
											</section>
											<section class="music-list-item-left-spliter" >-</section>
											<section class="music-list-item-singers" title="Ca khúc được trình bày bởi first singer, second singer và third singer">
												<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
												<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
												<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
											</section>
										</section>
										<section class="music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
										<section class="clear-both"></section>
									</li>
								
									<section class="music-list-item-spliter" ></section>
								
								-->


                            </ul>
                        </section>
<!--                        <div class="load-more-box" >
                            <div class="load-more">Xem thêm</div>
                            <div class="hide active">Thu gọn</div>
                            <div class="show ">Mở rộng</div>
                        </div>-->
					</section>
				</section>
				<section class="content-item-box">
					<section class="content-item-box-wrapper">
						<section class="content-item-box-title"> 
							<section class="content-item-box-title-left h2">
								 Video mới
							</section>
                        @if(Model.newVideos.Count>10){
                                
							<a href="@Url.Action("Index", "TheLoaiVideo", new { id=-1})" >
								<section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều ca khúc khác">
									Xem thêm →
								
								</section>
							</a>
                                   
                         }
							<section class="clear-both"></section>
						</section>
						<section class="content-item-box-content">
							<ul class="horizontal-list-container video-list">
                               @if(Model.newVideos.Count<=0){
                                   @Html.Raw(emptyAlert)
                                }
                                
                                else{
                                    foreach (var item in Model.newVideos)
                                    {
								    <li class="video-list-item">
								
									    <a href="@Url.Action("Index", "Video", new { id = item.id })" title="@item.title">
										    <img class="video-list-item-thumb" src="@Project_2._2_MVC.util.getVideoThumbRootPath(item.thumbnail)" alt="@item.title"/>

									    </a>
									    <section class="video-list-item-info-box-wrapper">
										    <section class="video-list-item-info-box">
											    <a href="@Url.Action("Index", "Video", new { id = item.id })" class="video-list-item-title h10-hover" title="@item.title"> @item.title</a>
											    <section class="video-list-item-author" title="Video này đã được username chia sẽ">
												    <span class="h12">Đăng bởi :</span>
												    <a href="@Html.Action("Index", "TrangCaNhan", new { id = item.accountid })" class="h11-hover" title="Video này đã được @item.Account.Username chia sẽ">@item.Account.Username </a>
											    </section>
											    <section class="video-list-item-views h11 " title="Video này được xem @item.views lần">
												    @item.views
											    </section>
										    </section>
									    </section>
								    </li>
								
                                   }
                                   }
                                
                                @*<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								
															
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
												*@
							
							</ul>
							<section class="clear-both"></section>
						</section>
					</section>
				</section>
			    <section class="content-item-box">
				    <section class="content-item-box-wrapper">
					    <section class="content-item-box-title"> 
						    <section class="content-item-box-title-left h2">
							     Album-Playlist mới
						    </section>
						  @if(Model.newPlaylist.Count>10){
                                
							<a href="@Url.Action("Index", "TheLoaiPlaylist", new { id=-1})" >
								<section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều ca khúc khác">
									Xem thêm →
								
								</section>
							</a>
                                   
                         }
						    <section class="clear-both"></section>
					    </section>
                        <section class="content-item-box-content">
                            <ul class="horizontal-list-container playlist-list">
                                @if (Model.newPlaylist.Count <= 0)
                                {
                                   @Html.Raw(emptyAlert)
                                }

                                else
                                {
                                    foreach (var item in Model.newPlaylist)
                                    {
                                        <li class="playlist-list-item">

                                            <a href="@Html.Action("Index", "TheLoaiPlaylist", new { id=item.id})" class="playlist-list-item-thumb" title="@item.title">
                                                <img src="@Project_2._2_MVC.util.getplaylistThumbRootPath(item.thumbnail)" alt="@item.title" />
                                            </a>
                                            <section class="playlist-list-item-info-box-wrapper">
                                                <section class="video-list-item-info-box">
                                                    <div class="playlist-list-item-title">
                                                        <a href="@Html.Action("Index", "TheLoaiPlaylist", new { id=item.id})" class="h8-hover" title="@item.title">@item.title</a>
                                                    </div>
                                                    <section class="playlist-singer">
                                                        <section class="h11 music-list-item-views" title="Playlist được xem @item.views lượt">@item.views</section>
                                                    </section>
                                                    <section class="clear-both"></section>
                                                </section>
                                            </section>
                                        </li>
                                    }
                                }
                                        @*                    <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>*@
                            </ul>
                        </section>
				    </section>
				
			    </section>

			</section>
			<div class="vertical-spliter"></div>
			<section class="content-right">
                <a href="#">
					<img src="images/ads-images/ads1.gif" alt="Advertising image" class="ads-image"/>
				</a>
				<section class="clear-both"></section>      
                <div class="aside-item-spliter"></div>
				<div class="content-aside-box">
					<div class="content-wrapper">
             
						<div class="content-title"> 
							<a href="#" class=" h9 content-item-box-title-left">
								 Top bài hát
							</a>
							<section class="clear-both"></section>
						</div>

						<ul class="horizontal-music-list">
	                  @if (Model.topSong.Count <= 0)
                       {
                            @Html.Raw(emptyAlert)
                       }

                       else
                       {
                           foreach (var item in Model.topSong)
                           {

					 	    <li class="item">
							
								    <div class="ranking-number">@(Model.topSong.ToList().IndexOf(item) + 1)</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát @item.title">@item.title</a>
								    </div>
								    <div class="singers">                   
                                         @foreach (var singer in item.songsinger)
                                        {
                                            var index = item.songsinger.ToList().IndexOf(singer);
                                            string plus = ",";
                                            
                                            <a href="@Url.Action("Index", "CaSi", new { id = singer.singer.id })" class="h10-hover" title="Ca sĩ first @singer.singer.nickname">@singer.singer.nickname</a> 
                                            if(item.songsinger.Count-1 != index){
                                                @Html.Raw(plus);
                                            }
										
                                          }
									@*    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>*@
								    </div>
								    <section class="views" title="Bài hát được nghe @item.views lượt">@item.views</section>
							
							</li>
                            }
                        }
           
           @*
                            
					
						
							<li class="item">
							
								    <div class="ranking-number">2</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">3</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">4</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">5</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">6</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            						
							<li class="item">
							
								    <div class="ranking-number">7</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            						
							<li class="item">
							
								    <div class="ranking-number">8</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>*@
						
						</ul>

					</div>
				</div>	
                <div class="aside-item-spliter"></div>			
                <div class="content-aside-box">
					<div class="content-wrapper">
             
						<div class="content-title"> 
							<a href="#" class=" h9 content-item-box-title-left">
								 Top video
							</a>
							<section class="clear-both"></section>
						</div>
                        <ul class="horizontal-music-list video-list">
                       @if (Model.topVideos.Count <= 0)
                       {
                            @Html.Raw(emptyAlert)
                       }

                       else
                       {
                           foreach (var item in Model.topVideos)
                           {
                                     
							    <li class="aside-video-list-item">
								
								    <a href="@Url.Action("Index", "Video", new { id = item.id })" title="@item.title">
									    <img class="video-list-item-thumb" src="@Project_2._2_MVC.util.getVideoThumbRootPath(item.thumbnail)" alt="@item.title"/>

								    </a>
								    <section class="video-list-item-info-box-wrapper">
									    <section class="video-list-item-info-box">
										    <a href="@Url.Action("Index", "Video", new { id = item.id })" class="video-list-item-title h10-hover" title="@item.title"> @item.title</a>
										    <section class="video-list-item-author" title="Video này đã được username chia sẽ">
											    <span class="h12">Đăng bởi :</span>
											    <a href="#" class="h11-hover" title="Video này đã được @item.Account.Username chia sẽ"> @item.Account.Username </a>
										    </section>
										    <section class="video-list-item-views h11 " title="Video này được xem @item.views lần">
											     @item.views
										    </section>
									    </section>
								    </section>
							    </li>
                           }
                       }
							@*<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								

								
												
												
							<div class="clear-both"></div>
						</ul>*@
							
                        <div class="clear-both"></div>
					</div>
				</div>
                <div class="aside-item-spliter"></div>
				<a href="#" >
					<img src="images/ads-images/ads1.gif" alt="Advertising image" class="ads-image"/>
				</a>
				<section class="clear-both"></section>    
                
			</section>